body {
    margin: 0;
    overflow: hidden;
    background-color: white;
}
#gameArea {
    position: relative;
    width: 229px;
    height: 70px;
    margin: auto;
    border: 0px solid black;
    overflow: hidden;
}
#paddle {
    position: absolute;
    width: 21px; 
    height: 5px;
    background-color: silver;
    bottom:2px;
    left: 8px; 
}
.bullet {
    position: absolute;
    width: 3px;
    height: 10px;
    background-color: silver;
}
.target {
    position: absolute;
    font-family: calibri, arial;
    font-size: 22px;
    cursor: default;
    text-shadow: 2px 3px 11px silver;
}
#message {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-family: Arial;
    font-size: 17px;
    display: none;
    cursor: pointer;
    color: #6595b5;
    text-shadow: 2px 2px 9px black;
}
#continueText {
    position: absolute;
    top: 68%;
    left: 39%;
    transform: translate(-50%, -50%);
    font-family: Arial;
    font-size: 9px;
    display: none;
    cursor: pointer;
    color: gray;

}
#websiteText {
    position: absolute;
    top: 39px; 
    left: 7px; 
    font-family: tahoma;
    font-size: 12px;
    color: gray;
}
@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
.blink {
    animation: blink 1s step-start infinite;
}
