 div{font-family:Tahoma; font-size:10px;  color:#939393; }
  .blue{font-family:Tahoma; font-size:10px;  color:#6394AF; }
 .blue_d{font-family:Tahoma; font-size:9px;  color:#326684; font-weight:900 }
 .a_blue{font-family:Tahoma; font-size:11px;  color:#A8A8A8; text-decoration:none; font-weight:500}
  .a_blue_l{font-family:Tahoma; font-size:10px;  color:#7497AC; }
    .a_blue_d{font-family:Tahoma; font-size:10px;  color:#326684; }
.i_gray{font-family:verdana; font-size:10px;  color:white; text-decoration:none;  font-weight:300}
 .a_gray{font-family:Tahoma; font-size:9px;  color:#A8A8A8; text-decoration:none;  font-weight:500}
 
.gray{font-family:Verdana; font-size:9px;  color:#5F6466; }
  
