.fixed-image {
    position: relative; 
    z-index: 5; 
}
.taramaheryer {
    position: relative;
    left: 311px; 
    top: 1px; 
    width: 55px; 
    height: 2px; 
    background-color: black; 
    opacity: 1; 
    animation: scan 3s linear infinite; 
}
@keyframes scan {
    0% {
        top: 65px; 
        opacity: 0; 
    }
    10% {
        opacity: 1; 
    }
    20% {
        opacity: 0; 
    }
    30% {
        opacity: 1; 
    }
    40% {
        opacity: 0; 
    }
    50% {
        opacity: 1; 
    }
    60% {
        opacity: 0; 
    }
    70% {
        opacity: 1; 
    }
    80% {
        opacity: 0; 
    }
    90% {
        opacity: 1; 
    }
    100% {
        top: 120px; 
        opacity: 0; 
    }
}